* {
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: 'Eurostile', sans-serif;

}

body {
  height: 100vh;
  background: linear-gradient(to bottom, black, #3974E9);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

header {
    background-color: #000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background-color: (255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    

    display: block;
    list-style-type: disc;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;

}

header .navigation ul {
    float: right;
    margin-right: 20px;
}

header .navigation ul li {
    display: inline-block;
    line-height: 50px;
    margin: 0 5px;
}

header .navigation ul li a {
    position: relative;
    font-size: 1.1em;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}

header .navigation ul li a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    border-radius: 5px;
    transform-origin: 50% 50%;
    transform: scaleX(0);
    transition: transform .5s;
    box-shadow: 0 0 10px (255, 255, 255, 0.8);
    background: linear-gradient(to right, #fff, #f3f3f3);
}

header .navigation ul li a:hover::after {
    transform-origin: right;
    transform: scaleX(1);
}

header .navigation ul li .btnLogin-popup {
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid #3974E9;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: #fff;
    font-weight: 500;
    margin-left: 40px;
}

header .navigation ul li .btnLogin-popup:hover {
    background-color: #05190a;
    color: #fff;
}

ul li a.active, ul li a:hover {
    background: #05190a;
    transition: .5s;
}

.check-btn {
    font-size: 25px;
    color: #fff;
    float: left;
    line-height: 50px;
    margin-right: 10px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

/*logo */

.logo {
    color: #fff;
    user-select: none;
    font-size: 25px;
    line-height: 50px;
    padding: 0 10px;
    font-family: 'eurostile';
    font-weight: bold;
    flex-direction: column;
}

/* -----Modale----- */
.popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #000;
  padding: 20px;
  border: 2px solid #3974E9;
  z-index: 1000;
  width: 90%;
  max-width: 500px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  color: #fff;
  text-align: center;
}

.popup ul {
  list-style: none;
  padding: 0;
}

.popup li {
  margin-top: 10px;
  text-align: center;
  margin-left: 10px;
  text-decoration: none;
  font-size: 18px;
  color: #3974E9;
  font-weight: bold;
}

.buttoncontainer {
  width: 80%;
  max-width: 600px;
  margin: 50px auto;
  text-align: center;
  
  flex-direction: column;
  justify-content: center;
 
}
.button {
  display: inline-block;
  width: auto;
  background-color: #000;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 20px;
  margin: auto;
}

.button:hover {
  background-color: #000;
}

p { 
  text-align: center;
}

.btn-inscription {
  background-color: #fff;
  color: #000;
  border: none;
  border-radius: 5px;
  padding: 15px 30px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: inline-block;
  margin-top: 20px;
  width: auto;
  font-family: eurostile;
}

.btn-inscription:hover {
  background-color: #3974E9;
}

h3 {
  text-align: center;
  font-size: 30px;
  margin-bottom: 10px;
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 999;
}
.close {
  cursor: pointer;
  color: #000;
  float: right;
  font-size: 24px;
}

img {
  width: 100%;
  border-radius: 8px;
  max-height: 200px;
  object-fit: cover;
}

/* h1 {
  font-size: 50px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-items: center;
  margin-top: 200px;
  margin-bottom: 10px;
  color: #fff;
}
  /* transform: translateY(70px); */


.logo {
  margin-right: 30px;
  margin-left: 20px;
  justify-content: space-around;

}
/*footer */

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    background: transparent;
    backdrop-filter: blur(10px);
}

.footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 10px;
}

.social-icon a {
    color: #fff;
    font-size: 1.5em;
    margin: 0 10px;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

.footer-content p {
    font-size: 0.9em;
    margin-bottom: 10px;
}

.social-icon a:hover {
    color: #fff;
}


/* -----Responsive----- */

@media (max-width: 576px){

  header {
    background: none;
  }
  .navbar .links,
  .navbar .action-button {
    display: none;
  }
  .navbar .burger-menu-button {
    display: block;
  }
  .burger-menu {
    display: block;
  }
}


@media(max-width:858px) {
    .check-btn{
        display: block;
    }

    ul {
        position: fixed;
        width: 50%;
        height: 70vh;
        background: #000;
        top: 100px;
        left: -100%;
        text-align: left;
        transition: all .5s;
        border: 2px solid #3974E9;
        border-radius: 6px;
        box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    }

    header .navigation ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }

    header .navigation ul li a {
        font-size: 20px;
    }

    #check:checked ~ ul {
        left: 0;
    }
}

