
@font-face {
    font-family:eurostile ;
    src: url(Asset/Font/eurostile-regular.ttf);
}

@font-face {
    font-family: Banger;
    src: url(Asset/Font/Bangers-Regular.ttf);

}
body {
    font-family: eurostile;
    background: linear-gradient(black, #3974E9);
    color: white;
    margin: 0;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.button {
    background-color: black; /* Couleur des boutons */
    color: #fff;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    cursor: pointer;
    margin: 30px;
    transition: background-color 0.3s;
    font-family: eurostile;
    font-size: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-items: center;
}
.button:hover {
    background-color: black; /* Couleur au survol */
}
.popup-container {
    display: none; /* Masqué par défaut */
    background-color: black;
    position: absolute;
    color: #ecf0f1;
    padding: 20px;
    border-radius: 20px;
    z-index: 1001;
}
   
.popup-title {
    font-size: 30px;
    margin-bottom: 10px;
    font-family: eurostile;
}
.popup-description {
    font-size: 20px;
    margin-bottom: 20px;
    font-family: eurostile;
}
.close-button {
    background-color: #3974E9;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    font-family: eurostile;
}
.close-button:hover {
    background-color: #3974E9;
}

.navbar {
    background-color: #000000; /* Couleur de fond de la barre de navigation */
    padding: 10px 20px; /* Espacement interne */
    display: flex; /* Utiliser Flexbox pour disposer les éléments */
    align-items: center; /* Centre verticalement */
    position: fixed; /* Fixe la barre en haut */
    width: 100%; /* Prend toute la largeur */
    top: 0; /* Positionne en haut */
    z-index: 1000; /* Reste au-dessus des autres éléments */
 }
 nav {
    display: flex;
    justify-content: center;
    flex-grow: 1;
    font-size: 20px;
 }
 .nav-link {
    color: #ecf0f1; /* Couleur du texte */
    text-decoration: none; /* Pas de soulignement */
    margin: 0 100px; /* Espacement entre les liens */
 
 }

 .home-button {
    background-color: #3974E9; /* Couleur du bouton */
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    margin-left: auto; /* Pousse le bouton vers la droite */
    margin-right: 20px;
    font-family: eurostile;
    font-size: 20px;
 }

.nav-link:hover {
    color: #3974E9; /* Couleur au survol */
 }

 .login-button:hover {
    background-color: #3974E9; /* Couleur au survol */
 }

.logosite {
    margin-left: 20px;
}

h1 {
    margin-bottom: 100px;
    margin-top: 100px;
    font-family: Banger;
    font-size: 150px;
}

footer {
    color: white;
    text-align: center;
    padding: 20px 0;
    position: relative;
    bottom: 0;
    width: 100%;
    margin-top: auto;
}

.pilotebleu {
    height: 250px;
    width: 250px;
    display: flex;
    flex-direction: column;
    align-content: right;
    position: absolute;
    left: 1500px;
    bottom: 350px;
    z-index: 50;
}
