@font-face {
    font-family: 'eurostile';
    src: url(./Asset/Font/eurostile-cdnfonts/eurostile.TTF);
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'eurostile';
}
body {
margin: 0;
background: linear-gradient(to bottom, black, #336ED4);
color: #fff;
font-family: 'eurostile';
}
header {
 background: #000;
 border-bottom: 4px solid #336ED4;
 border-radius: 0 0 50px 50px;
 position: fixed;
 top: 0;
 left: 0;
 width: 100%;
 z-index: 1;

}

/*Nab Bar*/

.navbar {
 display: flex;
 justify-content: space-between;
 align-items: center;
 padding: 25px 50px;
}
.logo img {
 height: 70px;
}
.nav-links {
 list-style: none;
 display: flex;
 gap: 25px;
 padding: 0;
 margin: 0;
}
.nav-item a, .login-btn {
 color: #fff;
 text-decoration: none;
 font-size: 18px;
 background: none;
 border: none;
 cursor: pointer;
 display: flex;
 align-items: center;
 gap: 6px;
}
.modal {
 display: none;
 position: fixed; top: 0; left: 0;
 width: 100%; height: 100%;
 background: rgba(0,0,0,0.8);
 justify-content: center; 
 align-items: center;
 font-family: 'eurostile';
}
.modal-content {
 background: #111;
 border: 2px solid #336ED4;
 border-radius: 12px;
 padding: 20px;
 width: 90%; max-width: 400px;
}
.tabs { display: flex; }
.tab {
 flex: 1;
 background: none;
 border: none;
 color: #336ED4;
 padding: 10px;
 font-weight: bold;
 cursor: pointer;
}
.tab.active { border-bottom: 2px solid #336ED4; }
.tab-content { display: none; flex-direction: column; gap: 10px; }
.tab-content.active { display: flex; }
.neon {
 background: none;
 border: 2px solid #336ED4;
 color: #336ED4;
 padding: 8px;
 cursor: pointer;
 text-transform: uppercase;
 font-weight: bold;
}

/* Contenu princial */

main {
    max-width: 1200px;
    margin: 120px auto 0 auto;
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
section {
    background-color: #000;
    border: 1px solid #fff;
    border-radius: 12px;
    overflow: hidden;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.3s ease;
    max-width: 700px;
    width: 100%;
    box-sizing: border-box;
}

h1 {
    font-size: 2.5rem;
    color: #58a6ff;
    margin: 40px 0 10px 0;
    text-align: center;
    font-weight: bold;
    letter-spacing: 2px;
}
p{
    font-size: 1.1rem;
    color: #fff;
    margin-bottom: 10px;
    text-align: center;
   }
section:hover {
    transform: scale(1.01);
   }
section img {
    width: 100%;
    max-width: 500px;
    height: auto;
    border-radius: 10px;
    margin-top: 20px;
    display: block;
}
.content {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
}


.content h2 {
    font-size: 1.5rem;
    color: #58a6ff;
    margin-bottom: 10px;
}
.content p {
    font-size: 1rem;
    color: #c9d1d9;
}

/* Footer */

.social-login button {
 background: none;
 border: 1px solid #336ED4;
 color: #336ED4;
 padding: 6px;
 margin-top: 5px;
 display: flex;
 align-items: center;
 gap: 5px;
 cursor: pointer;
}
.footer-circle {
 background: #000;
 border-top: 4px solid #336ED4;
 border-radius: 50px 50px 0 0;
 display: flex;
 justify-content: center;
 gap: 15px;
 padding: 15px;
 flex-wrap: wrap;
}
.footer-circle a {
 color: #fff;
 text-decoration: none;
 font-size: 16px;
}

/* Agrandir la barre en desktop */

@media (min-width: 1024px) {
 .navbar {
   padding: 30px 80px;
 }
 .nav-item a, .login-btn {
   font-size: 20px;
 }
}

/* Responsive : seulement icônes */

@media (max-width: 768px) {
 .nav-text {
   display: none;
 }
 .nav-links {
   flex-wrap: wrap;
   justify-content: center;
   gap: 15px;
 }
 .navbar {
    padding: 15px 20px;;
 }
 main {
    margin-top: 100px;
 }
}

@media (min-width: 768px) {
    section {
    display: flex;
    flex-direction: column;
    justify-content: center;   /* Centre verticalement */
    align-items: center; 

    }
    section img {
    width: 40%;
    height: 100%;
    object-fit: cover;
    margin-top: 20px;
    }
    .content {
       width: 60%;
    }
    
}

