
*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'eurostile';
}

body {
  font-family: 'eurostile';
  background: linear-gradient(to bottom, black, #3974E9);
  min-height: 100vh;
  color: #fff;
}

html{
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #fff;
  font-size: 1rem;
}

a:hover{
  color: #3974E9;
}

header {
  position: relative;
  padding: 0 2rem;
  background-color: #000;
}
 
 main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    text-align: center;
 }
 h1 {
    font-size: 3rem;
    font-family: eurostile;
    color: #fff;
    margin-top: 200px;
 }
 .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 10px;
    max-width: 800px; /* Limite la largeur du conteneur */
    color: #fff;
 }
 .pilot-image img {
    width: 100%; /* Prend toute la largeur de son conteneur */
    max-width: 200px; /* Limite la taille maximale de l'image */
 }
 .information {
    margin-top: 15px;
 }

 
header {
    background-color: #000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background-color: (255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;

    display: block;
    list-style-type: disc;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;

}

header .navigation ul {
    float: right;
    margin-right: 20px;
}

header .navigation ul li {
    display: inline-block;
    line-height: 50px;
    margin: 0 5px;
}

header .navigation ul li a {
    position: relative;
    font-size: 1.1em;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}

header .navigation ul li a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    border-radius: 5px;
    transform-origin: 50% 50%;
    transform: scaleX(0);
    transition: transform .5s;
    box-shadow: 0 0 10px (255, 255, 255, 0.8);
    background: linear-gradient(to right, #fff, #f3f3f3);
}

header .navigation ul li a:hover::after {
    transform-origin: right;
    transform: scaleX(1);
}

header .navigation ul li .btnLogin-popup {
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid #3974E9;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: #fff;
    font-weight: 500;
    margin-left: 40px;
}

header .navigation ul li .btnLogin-popup:hover {
    background-color: #05190a;
    color: #fff;
}

ul li a.active, ul li a:hover {
    background: #05190a;
    transition: .5s;
}

.check-btn {
    font-size: 25px;
    color: #fff;
    float: left;
    line-height: 50px;
    margin-right: 10px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}


@media(max-width:858px) {
    .check-btn{
        display: block;
    }

    ul {
        position: fixed;
        width: 50%;
        height: 70vh;
        background: #000;
        top: 100px;
        left: -100%;
        text-align: left;
        transition: all .5s;
        border: 2px solid #3974E9;
        border-radius: 6px;
        box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    }

    header .navigation ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }

    header .navigation ul li a {
        font-size: 20px;
    }

    #check:checked ~ ul {
        left: 0;
    }
}

/*logo */

.logo {
    color: #fff;
    user-select: none;
    font-size: 25px;
    line-height: 50px;
    padding: 0 10px;
    font-family: 'eurostile';
    font-weight: bold;
}

/* .cover-box {
  display: none;
    background: transparent;
    border: 2px solid #c9c8c8;
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    transform:scale(0);
    overflow: auto;
}

.cover-box:hover {
    border-color: #fff;
    animation: border-glow 1s infinite alternate;
} */

@keyframes border-glow {
    from{
        border-color: #f6f8f6;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    }
    to{
        border-color: #3974E9;
        box-shadow: 0 0 20px rgba(255, 255, 255, 1);
    }
}

.cover-box.active-popup {
    transform: scale(1);
}

.cover-box.active {
    transform: scale(1);
    height: 520px;
}
.cover-box .form-box {
    width: 100%;
    padding: 40px;
}
.cover-box .form-box.login {
    transition: transform .50s ease;
    transform: translateX(0);
}
.cover-box.active.active-popup .form-box.login {
    transition: none;
    transform: translateX(-400px);
}
.cover-box.active .form-box.register {
    position: absolute;
    transition: none;
    transform: translateX(400px);
}
.cover-box.active.active-popup .form-box.register{
    transition: transform .5s ease;
    transform: translateX(0);
}
.cover-box .icon-close {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 45px;
    height: 45px;
    background: #05190a;
    font-size: 2em;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    z-index: 1;
}


.form-box h2 {
    font-size: 2em;
    color: #000;
    text-align: center;
}

.input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.input-box label {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    color: #05190a;
    font-weight: 500;
    pointer-events: none;
    transition: 5s;
}

.input-box input:focus~label,
.input-box input:valid~label {
    top: -10px;
}

.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: 1px solid #05190a;
    border-radius: 10px;
    outline: none;
    font-size: 1em;
    color: #05190a;
    font-weight: 600;
    padding: 0 35px 0 5px;
}

.input-box .icon {
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    color: #05190a;
    line-height: 57px;
}

.remember-forgot {
    font-size: .9em;
    color: #05190a;
    font-weight: 500;
    margin: -15px 0 15px;
    display: flex;
    justify-content:space-between;
}

.remember-forgot label input {
    accent-color: #05190A;
    margin-right: 3px;
}

.remember-forgot a {
    color: #05190A;
    text-decoration: underline;
}

.remember-forgot a:hover {
    text-decoration: underline;
}

.btn {
    width: 100%;
    height: 45px;
    background-color: #000;
    border: none;
    outline: none;
    border-radius: 100px;
    cursor: pointer;
    font-size: 1em;
    color: #fff;
    font-weight: 500;
}

.login-register {
    font-size: .9em;
    color: #fff;
    text-align: center;
    font-weight: 500;
    margin: 25px 0 10px;
}

.login-register p a {
    color: #9a9a9a;
    text-decoration: none;
    font-weight: 600;
}

.login-register p a:hover {
    text-decoration: underline;
}

 /*footer */

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    background: #3974E9;
    backdrop-filter: blur(10px);
}

.footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 10px;
}

.social-icon a {
    color: #fff;
    font-size: 1.5em;
    margin: 0 10px;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

.footer-content p {
    font-size: 0.9em;
    margin-bottom: 10px;
}

.social-icon a:hover {
    color: #fff;
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 999;
}
.close {
  cursor: pointer;
  color: #000;
  float: right;
  font-size: 24px;
}


/* l'animation */

.animated-box {
  font-family: 'Lato';
  color: #ffffff;
  padding: 30px;
  text-align: center;
  border-radius: 4px;
  margin-top: 50px;
}

.animated-box h1 {
  font-weight: 200;
  font-size: 40px;
  text-transform: uppercase;
}

.animated-box p {
  font-weight: 200;
}

/* The animation starts here */
.animated-box {
  position: relative;
}

.animated-box:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 4px;
  background: linear-gradient(120deg, #00F260, #0575E6, #00F260);
  background-size: 300% 300%;
  clip-path: polygon(0% 100%, 3px 100%, 3px 3px, calc(100% - 3px) 3px, calc(100% - 3px) calc(100% - 3px), 3px calc(100% - 3px), 3px 100%, 100% 100%, 100% 0%, 0% 0%);
}

.animated-box.in:after {
  animation: frame-enter 1s forwards ease-in-out reverse, gradient-animation 4s ease-in-out infinite;
}

/* motion */
@keyframes gradient-animation {
  0% {
    background-position: 15% 0%;
  }
  50% {
    background-position: 85% 100%;
  }
  100% {
    background-position: 15% 0%;
  }
}

@keyframes frame-enter {
  0% {
    clip-path: polygon(0% 100%, 3px 100%, 3px 3px, calc(100% - 3px) 3px, calc(100% - 3px) calc(100% - 3px), 3px calc(100% - 3px), 3px 100%, 100% 100%, 100% 0%, 0% 0%);
  }
  25% {
    clip-path: polygon(0% 100%, 3px 100%, 3px 3px, calc(100% - 3px) 3px, calc(100% - 3px) calc(100% - 3px), calc(100% - 3px) calc(100% - 3px), calc(100% - 3px) 100%, 100% 100%, 100% 0%, 0% 0%);
  }
  50% {
    clip-path: polygon(0% 100%, 3px 100%, 3px 3px, calc(100% - 3px) 3px, calc(100% - 3px) 3px, calc(100% - 3px) 3px, calc(100% - 3px) 3px, calc(100% - 3px) 3px, 100% 0%, 0% 0%);
  }
  75% {
    -webkit-clip-path: polygon(0% 100%, 3px 100%, 3px 3px, 3px 3px, 3px 3px, 3px 3px, 3px 3px, 3px 3px, 3px 0%, 0% 0%);
  }
  100% {
    -webkit-clip-path: polygon(0% 100%, 3px 100%, 3px 100%, 3px 100%, 3px 100%, 3px 100%, 3px 100%, 3px 100%, 3px 100%, 0% 100%);
  }
}



/* -----Responsive----- */

@media (max-width: 576px){

  header {
    background: none;
  }
  .navbar .links,
  .navbar .action-button {
    display: none;
  }
  .navbar .burger-menu-button {
    display: block;
  }
  .burger-menu {
    display: block;
  }
   h1 {
      font-size: 3rem; /* Réduit la taille du titre */

   }
}




 