@font-face { 
   font-family: eurostile, banger;
   src: url(./Asset/Font/eurostile-regular.ttf);
   src: url(./Asset/Font/Bangers-Regular.ttf);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
 }
 body {
    font-family: eurostile;
    background: linear-gradient(to bottom, black, #3974E9);
    color: white;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
 }
 header {
    background-color: rgba(0, 0, 0, 0.8);
 }
 .nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    list-style: none;
 }
 .logo img {
    height: 50px; /* Ajustez la taille du logo */
 }
 .menu {
    display: flex;
    list-style: none;
 }
 .menu li {
    margin-left: 20px;
 }
 .menu li a {
    text-decoration: none;
    color: white;
 }
 .open-menu, .close-menu {
    display: none;
 }
 #check {
    display: none;
 }

 header {
    background-color: rgba(0, 0, 0, 0.8);
 }
 .nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    list-style: none;
 }
 .logo img {
    height: 50px; /* Ajustez la taille du logo */
 }
 .menu {
    display: flex;
    list-style: none;
 }
 .menu li {
    margin-left: 20px;
 }
 .menu li a {
    text-decoration: none;
    color: white;
 }
 .open-menu, .close-menu {
    display: none;
 }
 #check {
    display: none;
 }

 header {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 10px;
 }
 .header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
 }
 .logo img {
    height: 50px; /* Ajustez la taille du logo */
 }

 main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    text-align: center;
 }
 h1 {
    font-size: 7rem;
    margin-bottom: 100px;
    font-family: eurostile;
 }
 .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 10px;
    max-width: 800px; /* Limite la largeur du conteneur */
 }
 .pilot-image img {
    width: 100%; /* Prend toute la largeur de son conteneur */
    max-width: 200px; /* Limite la taille maximale de l'image */
 }
 .information {
    margin-top: 15px;
 }
 footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    padding: 30px;
 }

 /* Styles pour petits écrans */
 @media (max-width: 600px) {
    h1 {
        font-size: 3rem; /* Réduit la taille du titre */
    }

    .header-content {
        flex-direction: column; /* Empile les éléments sur petits écrans */
        align-items: flex-start;
    }

    .content {
        padding: 15px; /* Réduit le padding pour les petits écrans */
    }
    #footer {
      flex-direction: row;
      justify-content: space-between;
  }
  .legal {
      margin-bottom: 0;
  }
}

 