@font-face {
    font-family:eurostile ;
    src: url(Asset/Font/eurostile-regular.ttf);
}

@font-face {
    font-family: Banger;
    src: url(Asset/Font/Bangers-Regular.ttf);
}

body {
    font-family: eurostile;
    background: linear-gradient(180deg, #000 0%, #3974E9 82.69%);    color: white;
    font-size: 20px;
    height: 100vh;
    width: 100%;
    margin: 0;
    padding:0;  
}


header {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: black;
    color: white;

    font-size: 30px;
    font-family: eurostile;
    margin-right: 10px;
    height: 100px;
    max-width: 100%;
  
}


.ateliers {
    margin:auto;
    list-style: none; 
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}

h1 { 
    font-family: banger;
    font-size: 100px;
    color:#3974E9;
    text-align: center;

}

li {
    text-align: center;
    list-style: none; 
    
}

.button {
    background-color: #3974E9;
    border-radius: 10px;
    border: 4px double #000000;
    color: white;
    text-align: center;
    font-size: 20px;
    padding: 10px;
    width: 100px;
    height: 40px;
    cursor: pointer;
    margin-top: 15px;
    
}

.pilotebleu {
    height: 250px;
    width: 250px;
    display: flex;
    flex-direction: column;
    align-content: right;
    position: absolute;
    left: 1225px;
    bottom: 180px;
    z-index: 50;
}

.information {
    width: 700px;
    height: 350px;
    background-color: black;
    align-content: center;
}

#conteneur {
    border: 2px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    
}

main {
    overflow: auto;
    padding-bottom: 150px;
}

footer {
    position: relative;
    clear: both;
    margin-top: auto;
    height: 50px;
    text-align: center;
    background-color: #3974E9;
    height: 100px;
    
}

footer
.social {
    display: flex;
    flex-direction: row;
    justify-content: right;
    margin-right: 30px;
}

.date {
}